<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>CONTRATO HOLDING</title>
    <style type="text/css">
        * { font-size: 12pt; }
        body { font-family: 'Segoe UI'; }
        h1, h2, h3, h4 { margin: 0; }
        p { margin: 0 0 10px 0; text-align: justify !important; text-indent: 30px; }
        td { font-size: 10pt; }
        .linha { border: 1px solid #3e3c3c; min-height: 20px; }
        .linha small { display: block; font-size: 9pt; vertical-align: top; }
    </style>
</head>
<body>
    <table style="width: 900px">
        <tr>
            <td><img src="/templates/images/Image_003.png" /></td>
            <td style="text-align: center; padding: 15px 0;">
                <h3 style="font-size: 16pt">CONTRATO DE PRESTAÇÃO DE SERVIÇOS</h3>
                <p style="text-align: center">
                    Termo de Contratação consultas bonificadas (<strong>GRÁTIS</strong>)<br />
                    Exames faturados (<strong>COBRADOS</strong>)
                </p>
            </td>
            <td><img width="52" height="19" alt="image" src="/templates/images/Image_002.png" /></td>
        </tr>
        <tr>
            <td colspan="3" style="padding-bottom: 10px;">
                <input type="checkbox" checked="checked" style="float: left; margin-top: 7px; color: #000;" />
                <h3 style="font-size: 13pt">Assist. Medica e Odonto</h3>
                <small>(Consultas, exames. Sem direito a cirurgia e internação)</small>

            </td>
        </tr>
        <tr>
            <td colspan="3">
                I. <strong>DAS PARTES CONTRATANTES Holding Odontologia</strong><br />
                Empresa Pessoa Jurídica <strong>UP HOLDING</strong> Inscrita no CNPJ / MF de N° <strong>02.891.931/0002-33</strong>, situada no <strong>ST SBN QD 01 BLOCO F S/N 17º ANDAR SALA 32</strong> CEP: <strong>70.040.908</strong> - Braília - DF, Fone: (61) 98426-8397
            </td>
        </tr>
        <tr>
            <td colspan="3" style="background-color: #000; color: #fff0f5; text-align: center; font-size: 13pt;">
                CONTRATANTE
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <table style="width: 100%">
                    <tr>
                        <td class="linha" style="width: 70%"><small>Aderente</small> <strong>nomeAderente</strong>&nbsp;</td>
                        <td class="linha" style="width: 30%"><small>Data de Nascimento</small> <strong>nascimentoAderente</strong> &nbsp;</td>
                    </tr>
                </table>
                <table style="width: 100%">
                    <tr>
                        <td class="linha" style="width: 25%"><small>Fone</small> <strong>foneAderente</strong>&nbsp;</td>
                        <td class="linha" style="width: 25%"><small>Agência</small> <strong>agenciaAderente</strong> &nbsp;</td>
                        <td class="linha" style="width: 25%"><small>Sexo</small> <strong>sexoAderente</strong> &nbsp;</td>
                        <td class="linha" style="width: 25%"><small>Estado civil</small> <strong>estadoCivilAderente</strong> &nbsp;</td>
                    </tr>
                </table>
                <table style="width: 100%">
                    <tr>
                        <td colspan="3" class="linha" style="width: 80%"><small>Endereço Residencial</small> <strong>logradouroAderente</strong>&nbsp;</td>
                        <td class="linha" style="width: 20%"><small>Cep</small> <strong>cepAderente</strong>&nbsp;</td>
                    </tr>
                </table>
                <table style="width: 100%">
                    <tr>
                        <td class="linha" style="width: 25%"><small>Bairro</small> <strong>bairroAderente</strong>&nbsp;</td>
                        <td class="linha" style="width: 25%"><small>Estado/Cidade</small> <strong>estadoCidadeAderente</strong>&nbsp; </td>
                        <td class="linha" style="width: 25%"><small>Tel. Resdiencial</small> <strong>foneAderente</strong> &nbsp;</td>
                        <td class="linha" style="width: 25%"><small>Celular</small> <strong>celularAderente</strong> &nbsp;</td>
                    </tr>
                </table>
                <table style="width: 100%">
                    <tr>
                        <td colspan="3" class="linha" style="width: 80%"><small>Endereço Comercial</small> <strong>logradouroCAderente</strong>&nbsp;</td>
                        <td class="linha" style="width: 20%"><small>Cep</small> <strong>cepCAderente</strong> &nbsp;</td>
                    </tr>
                </table>
                <table style="width: 100%">
                    <tr>
                        <td class="linha" style="width: 25%"><small>Bairro</small> <strong>bairroCAderente</strong>&nbsp;</td>
                        <td class="linha" style="width: 25%"><small>Estado/Cidade</small> <strong>estadoCCidadeAderente</strong> &nbsp;</td>
                        <td class="linha" style="width: 25%"><small>Tel. Comercial</small> <strong>foneCAderente</strong> &nbsp;</td>
                        <td class="linha" style="width: 25%"><small>Celular</small> <strong>celularCAderente</strong> &nbsp;</td>
                    </tr>
                </table>
                <table style="width: 100%">
                    <tr>
                        <td class="linha" style="width: 33%"><small>Profissão</small> <strong>profissaoAderente</strong>&nbsp;</td>
                        <td class="linha" style="width: 33%"><small>Empresa / Órgão</small> <strong>orgaoAderente</strong> &nbsp;</td>
                        <td class="linha" style="width: 33%"><small>Nº do Órgão</small> <strong>numOrgaoAderente</strong> &nbsp;</td>
                    </tr>
                </table>
                <table style="width: 100%">
                    <td class="linha" style="width: 35%"><small>Nº Matrícula do associado titular</small> <strong>matriculaAderente</strong>&nbsp;</td>
                    <td class="linha" style="width: 25%"><small>Nº e Nome do Banco</small> <strong>bancoAderente</strong> &nbsp;</td>
                    <td class="linha" style="width: 10%"><small>Agência</small> <strong>agenciaBAderente</strong> &nbsp;</td>
                    <td class="linha" style="width: 30%"><small>Nº da Conta Corrente</small> <strong>contaAderente</strong> &nbsp;</td>
                </table>
                <table style="width: 100%">
                    <tr>
                        <td class="linha" colspan="4"><small>E-mail</small> <strong>emailAderente</strong>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="background-color: #000; color: #fff0f5; text-align: center; font-size: 13pt;">
                ADERENTE / DEPENDENTE
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <td class='linha' style="width: 5%">Nº</td>
                            <td class='linha' style="width: 70%">Nome</td>
                            <td class='linha' style="width: 15%">Data de Nas</td>
                            <td class='linha' style="width: 5%">Sexo</td>
                            <td class='linha' style="width: 5%">Parentesco</td>
                        </tr>
                    </thead>
                    <tbody>
                        utilizadores
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                I. <strong>DO PREÇO</strong><br />
                Autorizo a HOLDING a descontar na minha conta-corrente funcional, junto ao banco BRB. Banco de Brasília S.A. Ou na folha de pagamento junto a minha secretaria, conforme matricula funcional o Valor de R$ <strong>valorReal</strong>.
                Referente ao pagamento da prestação de serviços em consultas bonificadas <strong style="color: #ff0000">(GRATIS)</strong>, Exames de laboratório e odontologia faturados <strong style="color: #ff0000">(COBRADOS)</strong>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <table style="width: 100%">
                    <tr>
                        <td>
                            <strong>
                                Valor Total das<br />
                                (12) MENSALIDADES
                            </strong>
                        </td>
                        <td class="linha"><small>R$</small><strong>valorReal</strong></td>
                        <td class="linha"><small>Valor por extenso</small><strong>valExtenso</strong></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <table style="width: 100%">
                    <tr>
                        <td class="linha" style="width: 25%;">OBS:<br /><small>Prezado Titular, a solicitação de cancelamento antes dos 12 meses, será cobrada uma multa de 50% sobre o valor das parcelas restantes.</small></td>
                        <td class="linha" style="width: 40%; text-align: center;">Pagamento da 1º mensalidade<br /><input type="checkbox" checked="checked"/> A prazo (Próximo vencimento)</td>
                        <td class="linha" style="width: 24%; text-align: center;">Mês/Ano 1º mensalidade</td>
                        <td class="linha" style="width: 11%; text-align: center;">Faturado</td>
                    </tr>
                </table>
                <p>&nbsp;</p>
                <p>
                    Eu, ADERENTE, acima qualificado, declaro que ao assinar este contrato de prestação de serviços médicos, exames laboratoriais e odontologia com horário marcado, confirmo meu compromisso e dívida no valor acima referente ao produto e desde já autorizo o débito na folha de pagamento ou conta-corrente funcional
                </p>
                <p>
                    Brasília, dataAssinatura
                </p>
                <p>&nbsp;</p>
                <table style="width: 100%">
                    <tr>
                        <td style="text-align: center">
                            ___________________________________________________________<br />
                            Assinatura do Representante Comercial Externo
                        </td>
                        <td style="text-align: center">
                            ___________________________________________________________<br />
                            Assinatura do aderente
                        </td>
                    </tr>
                </table>
                <p>&nbsp;</p>
            </td>
        </tr>

    </table>
    <table style="width: 850px; page-break-before: always">
        <tr>
            <td>
                <p style="text-align: justify">
                    <strong>Clausula III - GARANTIAS</strong><br />
                    Todos os tratamentos terão garantia das empresas terceirizadas. Não caberá a HOLDING , nenhuma responsabilidade por atos danosos ao ADERENTE/DEPENDENTES, resultante de procedimentos prestados nos locais terceirizados, concordando o (a) aderente (a) que tal responsabilidade será exclusiva das empresas.
                </p>
                <p>
                    <strong>Clausula IV - ADERENTE</strong><br />
                    É facultado ao ADERENTE incluir como dependente em seu contrato de filiação, esposo (a), filhos, ficando assim, todos os dependentes sobre responsabilidade do ADERENTE.
                    NÃO SERÁ PERMITIDA A SUBSTITUIÇÃO DE DEPENDENTES ANTES DOS 12 (DOZE) MESES, CONTADOS A PARTIR DA DATA DA INCLUSÃO. A EXCLUSÃO DE DEPENDENTES REALIZADO ANTES DESTE PERÍODO ESTARA SUJEITO A COBRANÇA DE MULTA.
                </p>
                <p>
                    <strong>Clausula V -</strong> CARTÕES DE IDENTIFICAÇÃO E RELAÇÃO DE PARCEIROS TERCEIRIZADOS<br />
                    A HOLDING fornecerá ao ADERENTE/DEPENDENTE um cartão de identificação pessoal e intransferível, que será exigido pelos parceiros terceirizados. Caso seja solicitado 2ª (Segunda) via do cartão de identificação, o ADERENTE irá pagar o valor da taxa de emissão de acordo com a tabela vigente da HOLDING
                </p>
                <p>
                    <strong>Clausula VI -</strong> O ADERENTE ao assinar este contrato confirma que só tem direito no máximo até 03 (três) consultas e afirma que não é acumulativo por mês e o sistema operacional na Segunda consulta fica bloqueado, a Terceira solicitação é somente com autorização. Este bloqueio é para assegurar a continuidade financeira da empresa.
                </p>
                <p>
                    <strong>Clausula VII -</strong> O DEPENDENTE também tem direito no máximo até 03 (três) consultas conforme clausula VI
                </p>
                <p>
                    <strong>Clausula VIII -</strong>O ADERENTE ao assinar este contrato confirma a clausula VI sem restrição ou contestação.
                </p>
                <p>
                    <strong>Clausula IX - DA RESCISÃO E MULTA</strong><br />
                    O ADERENTE tem o direito de solicitar a rescisão do contrato de prestação de serviços em consultas exames com horário marcado, pois ninguém é obrigado a continuar preso a um contrato de prestação de serviços que não cumpre com o pactuado. De outro lado existe uma multa de 50% (cinquenta) por cento sobre o valor das mensalidades restantes no total de 12 (doze) a empresa é obrigada a apresentar o relatório de guias assinadas pelo ADERENTE ou DEPENDENTES constando carimbo CRM / CRO e assinatura, pois O ADERENTE confirma ao assinar este contrato que vai pagar também os procedimentos autorizado nos laboratórios e clinicas para seus DEPENDENTES, e fazer a devolução dos cartões de identificação.
                </p>
                <p>
                    <strong>Clausula X -</strong> O ADERENTE ao assinar este contrato afirma que a prestação de serviços é de consultas, Exames laboratoriais e odontologia com horario marcada NÃO TEM DIREITO A INTERNAÇÃO E CIRURGIA.
                </p>
                <p>
                    <strong>Clausula XI - </strong>O ADERENTE ao assinar este contrato de prestação de serviços afirma que a empresa
                    Rego Serejo Consultoria e Cartão Executivo L TOA. Não e um operadora. Por tanto a prestação de serviços e
                    exclusivamente em Consultas, Exames Laboratoriais e Odontologia Faturado. Não existe cobertura para internação ou cirurgia.
                </p>
                <p>
                    <strong>Clausula XII - </strong>O ADERENTE ao assinar este contrato de prestação de serviços em consultas, exames laboratoriais e odontologia. Confirma que todos os procedimento são marcados na REDE TERCEIRIZADA.
                </p>
                <p>
                    <strong>Clausula XIII -VIGÊNCIA DO CONTRATO </strong><br />
                    Este contrato de prestação de serviços tem a vigência de 12 meses com renovação automática. O ADERENTE tem 30 dias para denunciar que não tem interesse na continuidade na prestação de serviços médicos ,exame laboratoriais e odontologia com t,orário marcado na_ rede terceirizada, caso não faça este contato está renovado automático.
                </p>
                <p>
                    <strong>Clausula XIV - DISPOSIÇÕES FINAIS </strong><br />
                    Fica afirmado e exclusivo o Foro de Brasília-DF, para dirimir quaisquer duvidas do presente Contrato de Prestação de Serviços em Consultas ,exame laboratoriais e odontologia com horário marcado. Sem direito a internação e cirurgia.
                </p>

                <p>
                    Pelo presente instrumento particular entre as partes, de um lado, HOLDING empresa de direito privado inscrita pelo CNPJ / MF de Nº 02.891.931/0002-33 e do outro lado, o ADERENTE / DEPENDENTE representado pelo titular, incluindo também seus respectivos dependentes, na conformidade dos termos e condições legais e contratuais, resolve firmar o presente contato.
                </p>
                <p>
                    <strong>CLAUSULA I -OBJETIVO </strong><br />
                    O objetivo deste instrumento: é a prestação de serviços de toda natureza leaal. conforme Clausula abaixo.
                    Help Saúde Card, é garantir ao ADERENTE E DEPENDENTE incluídos, CONSULTAS (GRÁTIS},ODONTOLOGIA e EXAMES LABORATORIAIS "FATURADOS" (COBRADOS) em procedimentos e serviços, exclusivamente, em termos e condições nele previsto.
                </p>
                <p>
                    <strong>CLAUSULA II -ATENDIMENTO MÉDICO, EXAMES LABORATORIAIS E ODONTOLOGIA COM HORÁRIO MARCADO POR APLICATIVO </strong><br />
                    <strong>
                        a)	Consultas Bonificada (GRÁTIS)<br />
                        b)	Com Exceção para, Consultas diferenciadas: Pediatria, Reumatologia, Psicologia, Psiquiatria e Sessão de Fisioterapia, que serão solicitada as autorizações para faturamento e atendimento, tudo via sistema web. , tendo o CH e US, com valor de 0,92 (zero, noventa e dois centavos), sendo coeficiente de mutiplicação.<br />
                        c)	Exames Laboratorial e Odontologia "FATURADO" (COBRADOS)
                    </strong>
                    <div style="text-align: center; margin: 20px;">
                        <img src="/templates/images/Image_022.png" style="margin: auto" />
                    </div>
                    <strong>d) ESTAMOS AFIRMANDO QUE EXAMES LABORATORIAIS E ODONTOLOGIA SÃO COBRADOS: TODOS OS PROCEDIMENTOS SÃO PARCELADOS EM ATÉ 03 (TRÊS)VEZES PELO RESPECTIVO CH - R$ 0.92 (ZERO, NOVENTA E DOIS CENTAVOS) </strong>
                </p>

                <img src="/templates/images/Image_023.png" style="margin: auto" />
            </td>
        </tr>
    </table>
</body>
</html>
